<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>
    <h1>Add new product</h1>
    <form action="/products" method="post">
      <input name="name" type="text" placeholder="type name" />
      <input name="price" type="float" placeholder="type price" />
      <select name="category">
        Choose category
        <option value="fruit">fruit</option>
        <option value="vegetable">vegetable</option>
        <option value="dairy">dairy</option>
        <option value="meat">meat</option>
      </select>
      <button>Submit</button>
    </form>
    <%- include('../partials/foot.ejs') %>
  