<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New product</title>
  </head>
  <body>
    <h1>Add new product</h1>
    <form action="/products" method="post">
      <input name="name" type="text" placeholder="type name" />
      <input name="price" type="float" placeholder="type price" />
      <select name="category">
        Choose category
        <option value="fruit">fruit</option>
        <option value="vegetable">vegetable</option>
        <option value="dairy">dairy</option>
      </select>
      <button>Submit</button>
    </form>
  </body>
</html>
